<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><?= $title ?></title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />

        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />

        <link rel="stylesheet" type="text/css" href="public/css/main.css" />
        <link rel="stylesheet" type="text/css" href="public/css/common.css" />
        <link rel="stylesheet" type="text/css" href="public/css/films.css" />
    </head>
    <body>
        <header class="header">
            <div class="flex-row-center-center header_left">
                <a href="/dashboard" class="flex-row-center-center header__logo">
                    <span class="material-symbols-outlined header__logo__image">
                        movie
                    </span>
                    <h1 class="header__logo__text">Film Rate</h1>
                </a>
            </div>

            <a href="/login" class="flex-row-center-center header__login">
                <span class="material-symbols-outlined header__login__icon">
                    login
                </span>
            </a>
        </header>

        <div class="film-container">
            <div class="flex-row-center-center search--desktop">
                <button class="search__rated-btn">
                    <span class="material-symbols-outlined star">
                        star
                    </span>
                </button>
                <form class="flex-row-center-center search__form">
                    <input
                        type="text"
                        placeholder="Search"
                        class="input__text search__form__text">
                    <button class="search__form__submit white_link">
                        <span class="material-symbols-outlined">
                            search
                        </span>
                    </button>
                </form>
            </div>

            <main class="film_list">
                <?php foreach($films as $key=>$film): ?>
                    <section class="flex film">
                        <img class="film__poster" src="public/img/Saving_Private_Ryan.jpg" alt="Poster">
                        
                        <div class="film__bottom">
                            <h2 class="film__title">
                                <a href="/single-film" class="white_link">
                                    <?= $film->getTitle(); ?>
                                </a>
                            </h2>
                            
                            <div class="film__bottom__rate-section">
                                <div class="flex-row-center-center film__rate">
                                    <span class="material-symbols-outlined star">
                                        star_rate
                                    </span>

                                    <span>8.9</span>
                                </div>
                                <div class="flex-row-center-center film__rate">
                                    <span class="material-symbols-outlined star">
                                        star
                                    </span>

                                    <span>Rate</span>
                                </div>
                            </div>
                        </div>
                    </section>
                <?php endforeach; ?>

                <section class="flex film">
                    <img class="film__poster" src="public/img/Saving_Private_Ryan.jpg" alt="Poster">
                    
                    <div class="film__bottom">
                        <h2 class="film__title">
                            <a href="/single-film" class="white_link">
                                Saving Private Ryan
                            </a>
                        </h2>
                        
                        <div class="film__bottom__rate-section">
                            <div class="flex-row-center-center film__rate">
                                <span class="material-symbols-outlined star">
                                    star_rate
                                </span>

                                <span>8.9</span>
                            </div>
                            <div class="flex-row-center-center film__rate">
                                <span class="material-symbols-outlined star">
                                    star
                                </span>

                                <span>Rate</span>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="flex film">
                    <img class="film__poster" src="public/img/Howls_Moving_Castle.jpg" alt="Poster">
                    
                    <div class="film__bottom">
                        <h2 class="film__title">
                            <a href="/single-film" class="white_link">
                                Howl’s Moving Castle
                            </a>
                        </h2>
                        
                        <div class="film__bottom__rate-section">
                            <div class="flex-row-center-center film__rate">
                                <span class="material-symbols-outlined star">
                                    star_rate
                                </span>

                                <span>8.1</span>
                            </div>
                            <div class="flex-row-center-center film__rate">
                                <span class="material-symbols-outlined star">
                                    star
                                </span>

                                <span>Rate</span>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="flex film">
                    <img class="film__poster" src="public/img/Monthy_Python_Holy_Grail.jpg" alt="Poster">
                    
                    <div class="film__bottom">
                        <h2 class="film__title">
                            <a href="/single-film" class="white_link">
                                Monty Python and the Holy Grail
                            </a>
                        </h2>
                        
                        <div class="film__bottom__rate-section">
                            <div class="flex-row-center-center film__rate">
                                <span class="material-symbols-outlined star">
                                    star_rate
                                </span>

                                <span>8.6</span>
                            </div>
                            <div class="flex-row-center-center film__rate">
                                <span class="material-symbols-outlined star">
                                    star
                                </span>

                                <span>Rate</span>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="flex film">
                    <img class="film__poster" src="public/img/Jestes_Bogiem.jpg" alt="Poster">
                    
                    <div class="film__bottom">
                        <h2 class="film__title">
                            <a href="/single-film" class="white_link">
                                Jesteś Bogiem
                            </a>
                        </h2>
                        
                        <div class="film__bottom__rate-section">
                            <div class="flex-row-center-center film__rate">
                                <span class="material-symbols-outlined star">
                                    star_rate
                                </span>

                                <span>7.3</span>
                            </div>
                            <div class="flex-row-center-center film__rate">
                                <span class="material-symbols-outlined star">
                                    star
                                </span>

                                <span>Rate</span>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="flex film">
                    <img class="film__poster" src="public/img/LOTR_Part_1.jpg" alt="Poster">
                    
                    <div class="film__bottom">
                        <h2 class="film__title">
                            <a href="/single-film" class="white_link">
                                The Lord of the Rings: The Fellowship of the Ring
                            </a>
                        </h2>
                        
                        <div class="film__bottom__rate-section">
                            <div class="flex-row-center-center film__rate">
                                <span class="material-symbols-outlined star">
                                    star_rate
                                </span>

                                <span>9.1</span>
                            </div>
                            <div class="flex-row-center-center film__rate">
                                <span class="material-symbols-outlined star">
                                    star
                                </span>

                                <span>Rate</span>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="flex film">
                    <img class="film__poster" src="public/img/Chlopaki_Nie_Placza.jpg" alt="Poster">
                    
                    <div class="film__bottom">
                        <h2 class="film__title">
                            <a href="/single-film" class="white_link">
                                Chłopaki nie płaczą
                            </a>
                        </h2>
                        
                        <div class="film__bottom__rate-section">
                            <div class="flex-row-center-center film__rate">
                                <span class="material-symbols-outlined star">
                                    star_rate
                                </span>

                                <span>7.3</span>
                            </div>
                            <div class="flex-row-center-center film__rate">
                                <span class="material-symbols-outlined star">
                                    star
                                </span>

                                <span>Rate</span>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="flex film">
                    <img class="film__poster" src="public/img/Macross_DYRL.jpg" alt="Poster">
                    
                    <div class="film__bottom">
                        <h2 class="film__title">
                            <a href="/single-film" class="white_link">
                                Macross: Do You Remember Love?
                            </a>
                        </h2>
                        
                        <div class="film__bottom__rate-section">
                            <div class="flex-row-center-center film__rate">
                                <span class="material-symbols-outlined star">
                                    star_rate
                                </span>

                                <span>8.2</span>
                            </div>
                            <div class="flex-row-center-center film__rate">
                                <span class="material-symbols-outlined star">
                                    star
                                </span>

                                <span>Rate</span>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="flex film">
                    <img class="film__poster" src="public/img/Karbala.jpg" alt="Poster">
                    
                    <div class="film__bottom">
                        <h2 class="film__title">
                            <a href="/single-film" class="white_link">
                                Karbala
                            </a>
                        </h2>
                        
                        <div class="film__bottom__rate-section">
                            <div class="flex-row-center-center film__rate">
                                <span class="material-symbols-outlined star">
                                    star_rate
                                </span>

                                <span>8.0</span>
                            </div>
                            <div class="flex-row-center-center film__rate">
                                <span class="material-symbols-outlined star">
                                    star
                                </span>

                                <span>Rate</span>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>

        <div class="tab-bar">
            <a href="/dashboard" class="tab-bar__option">
                <span class="material-symbols-outlined">
                    home
                </span>
            </a>
            <button class="tab-bar__option">
                <span class="material-symbols-outlined">
                    search
                </span>
            </button>
            <button class="tab-bar__option">
                <span class="material-symbols-outlined">
                    star
                </span>
            </button>
            <a href="/login" class="tab-bar__option">
                <span class="material-symbols-outlined">
                    login
                </span>
            </a>
        </div>
    </body>
</html>
