body {
    width: 100vw;
    height: 100vh;
}

.auth-container {
    display: flex;
    gap: 4em;
    flex-direction: column;

    width: calc(100% - 4em);

    @media only screen and (min-device-width: 768px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 6em;

        width: 100%;
    }
}

.logo {
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.logo__image {
    font-size: 15.625em;
}

.logo__text {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 0.05em;
}

.form__submit {
    text-transform: uppercase;
}

.form_redirect a {
    color: #e0aaff;
    font-weight: 700;
    text-decoration: none;
}

.form_redirect a:hover {
    text-decoration: underline;
}
