.container {
    margin-top: calc(32px + 2em);

    padding: 1.5em;

    @media only screen and (min-device-width: 768px) {
        max-width: 1000px;
        margin-top: calc(40px + 2em);
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

.film {
    display: flex;
    flex-direction: column;
}

.film_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;

    @media only screen and (min-device-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 4em;
    }
}

.film__poster {
    width: 100%;
    border-radius: 1em;
}

.film__title {
    text-align: center;
    font-size: 1em;
}

.film__bottom {
    margin-top: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.film__bottom__general-rate,
.film__bottom__user-rate {
    gap: 0.5em;
}

.search--desktop {
    margin-bottom: 1.5em;
    gap: 0.5em;

    @media only screen and (max-device-width: 767px) {
        display: none;
    }
}


.search__form {
    gap: 0.5em;
}

.search__form {
    width: 50%;
}

.search__rated-btn,
.search__form__submit {
    background: transparent;
    padding: 0;
    color: #fff;
    cursor: pointer;
}

.search__rated-btn > span,
.search__form__submit > span {
    font-size: 3em;
} 

.search__rated-btn > .star:hover {
    color: #f4cf3e;
}

.search__form__submit:hover {
    color: #dee2e6;
}
