.film-container {
    margin-top: calc(32px + 2em);

    padding: 1.5em 1em;
    padding-bottom: calc(80px + 1.5em);

    @media only screen and (min-device-width: 768px) {
        max-width: 1000px;
        margin-top: calc(40px + 2em);
        padding-bottom: 1.5em;
        margin-left: auto;
        margin-right: auto;
    }
}

.film {
    display: flex;
    flex-direction: column;
}

.film_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;

    @media only screen and (min-device-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 4em;
    }
}

.film__poster {
    height: 66.7%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em;

    @media only screen and (min-device-width: 992px) {
        height: 75%;
    }
}

.film__title {
    text-align: center;
    font-size: 1em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2;
    -webkit-box-orient: vertical;
}

.film__bottom {
    height: 33.3%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media only screen and (min-device-width: 992px) {
        height: 25%;
    }
}

.film__bottom__rate-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.film__rate,
.film__rate {
    gap: 0.5em;
}

.search--desktop {
    margin-bottom: 1.5em;
    gap: 0.5em;

    @media only screen and (max-device-width: 767px) {
        display: none;
    }
}

.search__form {
    gap: 0.5em;
}

.search__form {
    width: 50%;
}

.search__rated-btn,
.search__form__submit {
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.search__rated-btn > span,
.search__form__submit > span {
    font-size: 3em;
} 

.search__rated-btn > .star:hover {
    color: #f4cf3e;
}



.title {
    font-size: 32px;
    text-align: center;
}

.film-info {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto;

    @media only screen and (min-device-width: 768px) {
        width: 50%;
        flex-direction: row;
    }
}

.film-info__poster {
    @media only screen and (min-device-width: 768px) {
        width: 50%;
    }
}

.film-info__poster--img {
    display: block;
    width: 100%;
    border-radius: 1em;
}

.film-info__details {
    @media only screen and (min-device-width: 768px) {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.film-info_rate {
    display: flex;
    justify-content: space-between;

    @media only screen and (min-device-width: 768px) {
        flex-direction: column;
        align-items: start;
    }
}

.tag_list {
    gap: 0.5em;
}

.tag {
    padding: 0.5em 1em;
    border-radius: 100px;
}

.film_desctiption {
    margin-top: 1em;
}

.film-info--mobile {
    @media only screen and (min-device-width: 768px) {
        display: none;
    }
}
